.first{
    color: brown;
    text-align: center;
    padding-bottom: 20px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  