<mat-card>
    <p class="first">First Page</p>
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="calc(50% - 25px)">
                <span>
                    <button mat-raised-button color="primary"
                    (click)='goToSup1()'
                        routerLinkActive="router-link-active"> First</button>
                </span>
            </div>

            <div fxFlex="calc(50% - 25px)">
                <button mat-raised-button color="primary" (click)='goToSup2()'
                    routerLinkActive="router-link-active"> Second </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-card>