<p class="first">Second sub-component</p>
Armed conflicts and attacks
Saudi Arabian-led intervention in Yemen
The United Arab Emirates announces a partial withdrawal of its forces from Yemen as part of a "strategic redeployment".
(CNN)
Business and economics
Deutsche Bank announces lay-offs – roughly 18,000 job cuts – around the globe as part of a "reinvention", scrapping its
global equities and cutting its fixed income operations. (Deutsche Bank) (The New York Times)
<br>


<div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <div>
            <button mat-raised-button color="primary" (click)='go()'> First</button>
    </div>
    <div>
            <button mat-raised-button color="primary" (click)='go1()'> See</button>
    </div>
</div>
