<mat-card>
        <p class="first">Third Page</p>
        Armed conflicts and attacks
    Saudi Arabian-led intervention in Yemen
    The United Arab Emirates announces a partial withdrawal of its forces from Yemen as part of a "strategic redeployment". (CNN)
    Business and economics
    Deutsche Bank announces lay-offs – roughly 18,000 job cuts – around the globe as part of a "reinvention", scrapping its global equities and cutting its fixed income operations. (Deutsche Bank) (The New York Times)
    Disasters and accidents
    Flash flooding in Washington, D.C. delivers a month's worth of rain on the local area in the span of an hour. The torrential rain leaves commuters stranded on car rooftops, floods several metro stations and causes flooding in the White House. (cnet)
    International relations
    African Continental Free Trade Agreement
    African leaders agree on a continent-wide free trade zone, which encompasses all African nations except for Eritrea and Somaliland. The various European territories located in Africa are also excluded. It will be the largest free trade zone since the creation of the World Trade Organization. (DW)
    Law and crime
    The International Criminal Court declares Bosco Ntaganda guilty of having committed war crimes during the Ituri conflict in the Democratic Republic of the Congo. (DW)
    Politics and elections
    2019 Greek legislative election
    Winner of the general election Kyriakos Mitsotakis is sworn in as the new Prime Minister of Greece, succeeding Alexis Tsipras. (Reuters)
    Tax returns of Donald Trump
    New York Governor Andrew Cuomo signs a bill that will allow congressional committees to access President Donald Trump's state tax returns. (The New York Times
    </mat-card>