<p class="first">First sub-component</p>
Armed conflicts and attacks
Saudi Arabian-led intervention in Yemen
The United Arab Emirates announces a partial withdrawal of its forces from Yemen as part of a "strategic redeployment".
(CNN)
Business and economics
<div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <div>
        <button mat-raised-button color="primary" (click)='go()'> First</button>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)='go1()'> See</button>
    </div>
</div>