<p class="class">Home page</p>
<div fxLayout="row" fxLayoutGap="50px" class="home">

    <div fxFlex="calc(30% - 25px)">
        <router-outlet name='second'></router-outlet>
    </div>

    <div fxFlex="calc(30% - 25px)">
        <router-outlet name='first'></router-outlet>
    </div>

    <div fxFlex="calc(30% - 25px)">
        <router-outlet name='third'></router-outlet>
    </div>

</div>